.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    padding: 0px 20px;
    // backdrop-filter: blur(3px); 
    &__email {
        height: 70%;
        & a {
            font-size: 6rem;
            font-weight: 900;
            text-decoration: none;
            color: rgba(21, 7, 83, 0.1);
            text-shadow: 5px -1px 1px $white, 0px -4px 2px $principal-color;
            & p {
                word-wrap: break-word;
                & img {
                    width: 50px;
                }
            }
        }
    }
    &__redes {
        display: flex;
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .contact {
        height: 60%;
        padding: 0px 100px;
        &__email  {
            & a {
                font-size: 10rem;
                & p {
                    cursor: pointer;
                }
            }
        }
        &__redes {
            & img {
                width: 45px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .contact {
        height: auto;
        padding: 0px 100px;
        &__email  {
            & a {
                font-size: 14rem;
                & p {
                    cursor: pointer;
                }
            }
        }
        &__redes {
            gap: 35px;
            padding-top: 40px;
            & img {
                width: 65px;
            }
        }
    }
}