$principal-color: #3B2BED;
$white: white;
$black: rgb(14, 14, 14);
$font: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)), url("https://img.freepik.com/vector-gratis/resumen-ruido-fondo_1217-1222.jpg?w=740&t=st=1675291967~exp=1675292567~hmac=8187e8d8af0c90f48427160fcf48f717d390d306d3203b0773086e1e9583f19f");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: $white;
    font-family: $font;
    font-size: 1.6rem;
}